@page "/questions"
@namespace Forms.Web.App.Pages
@layout ListLayout
@inherits PageBase

<div>
    <h1>Otázky</h1>

    @if (Questions == null || !Questions.Any())
    {
        <p>Načítání otázek...</p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Název</th>
                <th>Popis</th>
                <th>Typ otázky</th>
                <th>Odpovědi</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var question in Questions)
            {
                <tr>
                    <td>@question.Name</td>
                    <td>@question.Description</td>
                    <td>@question.QuestionType</td>
                    <td>
                        @if (question.Answer != null && question.Answer.Any())
                        {
                            <ul>
                                @foreach (var answer in question.Answer)
                                {
                                    <li>@answer</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>Žádné odpovědi</span>
                        }
                    </td>
                    <td>
                        <a href="/questions/@question.Id" class="btn btn-primary">Detail</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>