@page "/form/{id:guid}"
@namespace Forms.Web.App.Pages
@inherits PageBase

<div class="container mt-5">
    @if (Form == null)
    {
        <div class="text-center">
            <p class="mt-3">Načítám data formuláře...</p>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white">
                        <h2 class="card-title mb-0">@Form.Name</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Datum otevření:</strong> @Form.DateOpen.ToString("dd.MM.yyyy")</p>
                        <p class="card-text"><strong>Datum uzavření:</strong> @Form.DateClose.ToString("dd.MM.yyyy")</p>
                        <p class="card-text"><strong>Popis:</strong> @Form.Description</p>

                        <hr class="custom-divider my-4">
                        <!-- Sekcia otázok -->
                        
                        
                    </div>
                </div>
            </div>
        </div>
    }
</div>